<html>
<head>
<title>PREVIOUS YEAR RESEARCH PAPERS AND PROJECTS</title>
</head>
<style>
div{
text-align:center;
background:darkblue;
color:white;
border:5px solid gold;
text-shadow:5px 5px black;
box-shadow:10px 10px grey;
margine:25px solid red;
padding:25px 25px;
}
img{
text-align:left;
border:2px solid gold;
}
button{
background:gold;
color:red;
height:50px;
border:2px solid black;
padding:10px 10px;
button-size:auto;
}
button:hover
{
background:white;
color:green;
height:50px;
width:120px;
}
td{
background:gold;
color:red;
height:50px;
border:2px solid black;
padding:5px 5px;
}
td.not
{
background:red;
color:black;
height:50px;
border:2px solid black;
padding:5px 5px;
}

}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
</script>
<body><div>
<img src="C:\Users\GAMECHANGER\OneDrive\Desktop\jas1105\OneDrive\Pictures\logo-cg.png" width=200 height=200>
<h1>LOYOLA COLLEGE (AUTONOMYUS),CHENNAI<br>
SILVER JUBILEE<br>
25 YEARS OF B.C.A</h1></div>
<p>
<marquee>HERE ALL THE 25 YEAR OF BCA FAMOUS COURSES ARE AVAILABLE</marquee>
<table ng-app="" ng-init="a11=0;a12=0;a13=0;a14=0;a15=0;b11=0;b12=0;b13=0;b14=0;b15=0;qty=0">
</tr>
<tr><th colspan="5">TOP 10 RESEARCH PAPERS:</th></tr>
<tr>
<td><b>RESEARCH PAPER-01:</b></br><b>AI IN ROBOT</b></br></br>PRICE:2800<input type="checkbox" data-ng-model="a11"/></td>
<td><b>RESEARCH PAPER-02:</b></br><b>CLOUD ENGINEERING</b></br></br>PRICE:3000<input type="checkbox" data-ng-model="a12"/></td>
<td><b>RESEARCH PAPER-03:</b></br><b>MEDICAL ROBOTICS</b></br></br>PRICE:2500<input type="checkbox" data-ng-model="a13"/></td>
<td><b>RESEARCH PAPER-04:</b></br><b>ERP IN MANAGEMENT</b></br></br>PRICE:4050<input type="checkbox" data-ng-model="a14"/></td>	
<td><b>RESEARCH PAPER-05:</b></br><b>DATA ANALYTICS AND STRUCTURE</b></br></br>PRICE:4000<input type="checkbox" data-ng-model="a15"/></td>	
</tr>
<tr>
<td><b>RESEARCH PAPER-06:</b></br><b>DATA COMMUNICATION AND FORMATION</b></br></br>PRICE:3250<input type="checkbox" data-ng-model="b11"/></td>
<td><b>RESEARCH PAPER-07:</b></br><b>CALL OF AI:FUTURE OF HUMAN</b></br></br>PRICE:2390<input type="checkbox" data-ng-model="b12"/></td>
<td><b>RESEARCH PAPER-08:</b></br><b>REVOLUTION IN MEDICAL: RAISE OF ROBOTS</b></br></br>PRICE:2250<input type="checkbox" data-ng-model="b13"/></td>
<td><b>RESEARCH PAPER-09:</b></br><b>FROM APE TO AI</b></br></br>PRICE:3050<input type="checkbox" data-ng-model="b14"/></td>
<td><b>RESEARCH PAPER-010:</b></br><b>NEW OPERATING SYSTEM</b></br></br>PRICE:5000<input type="checkbox" data-ng-model="b15"/></td>	
</tr>
<tr><th colspan="5">TOP 10 PROJECTS:</th></tr>
<tr>
<td><a href="https://www.researchgate.net/publication/331047271_undergraduate_project_paper"><b>PROJECT PAPER-01:</b></a></td>
<td><a href="https://www.researchgate.net/publication/331047271_undergraduate_project_paper"><b>PROJECT PAPER-02:</b></a></td>
<td><a href="https://www.researchgate.net/publication/331047271_undergraduate_project_paper"><b>PROJECT PAPER-03:</b></a></td>
<td><a href="https://www.researchgate.net/publication/331047271_undergraduate_project_paper"><b>PROJECT PAPER-04:</b></a></td>
<td><a href="https://www.researchgate.net/publication/331047271_undergraduate_project_paper"><b>PROJECT PAPER-05:</b></a></td>	

</tr>
<tr>
<td><a href="https://www.researchgate.net/publication/331047271_undergraduate_project_paper"><b>PROJECT PAPER-06:</b></a></td>
<td><a href="https://www.researchgate.net/publication/331047271_undergraduate_project_paper"><b>PROJECT PAPER-07:</b></a></td>
<td><a href="https://www.researchgate.net/publication/331047271_undergraduate_project_paper"><b>PROJECT PAPER-08:</b></a></td>
<td><a href="https://www.researchgate.net/publication/331047271_undergraduate_project_paper"><b>PROJECT PAPER-09:</b></a></td>
<td><a href="https://www.researchgate.net/publication/331047271_undergraduate_project_paper"><b>PROJECT PAPER-010:</b></a></td>	

</tr>
<tr  ng-app="" ng-init="am11=2800;am12=3000;am13=2500;am14=4050;am15=4000;bm11=3250;bm12=2390;bm13=2250;bm14=3050;bm15=5000;tot=0">
<td style="background-color:white" colspan="2">QUALTITY:{{qty=a11+a12+a13+a14+a15+b11+b12+b13+b14+b15}}
<td style="background-color:white" colspan="2">
AMOUNT:{{tot=(a11*am11)+(a12*am12)+(a13*am13)+(a14*am14)+(a15*am15)+(b11*bm11)+(b12*bm12)+(b13*bm13)+(b14*bm14)+(b15*bm15)}}
<th>
<a href="C:\Users\GAMECHANGER\OneDrive\Desktop\25th BCA\payment.html">
<button>DOWNLOAD</button>
</a></th>
</tr>
</table>
</p>
<a href="C:\Users\GAMECHANGER\OneDrive\Desktop\25th BCA\silver.html">
<button>HOME</button></a>
</body>
</html>